# Handling missing data methods

Importing data set

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [3]:
df

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [3]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [5]:
df

     c1   c2  c3  c4   c5    c6     c7  c8  c9
0     1   85  66  29    0  26.6  0.351  31   0
1     8  183  64   0    0  23.3  0.672  32   1
2     1   89  66  23   94  28.1  0.167  21   0
3     0  137  40  35  168  43.1  2.288  33   1
4     5  116  74   0    0  25.6  0.201  30   0
..   ..  ...  ..  ..  ...   ...    ...  ..  ..
762  10  101  76  48  180  32.9  0.171  63   0
763   2  122  70  27    0  36.8  0.340  27   0
764   5  121  72  23  112  26.2  0.245  30   0
765   1  126  60   0    0  30.1  0.349  47   1
766   1   93  70  31    0  30.4  0.315  23   0

[767 rows x 9 columns]

In [4]:
# missing values are represent in 0. so need to replace with nan
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print(len(features_with_na))

0

In [5]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [10]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [12]:
for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean(),2))

c1 : 0.14
c2 : 0.01
c3 : 0.05
c4 : 0.3
c5 : 0.49
c6 : 0.01
c9 : 0.65

In [7]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [13]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [14]:
df.shape

(767, 9)

In [15]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [16]:
df.describe()# Descriptive statistics of a data frame

,c1,c2,c3,c4,c5,c6,c7,c8,c9
count,656.000000,762.000000,732.000000,540.000000,394.000000,756.000000,767.000000,767.000000,267.0
mean,4.492378,121.652231,72.405738,29.142593,155.548223,32.455952,0.471674,33.219035,1.0
std,3.219208,30.540786,12.390616,10.483667,118.775855,6.929448,0.331497,11.752296,0.0
min,1.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,1.0
25%,2.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243500,24.000000,1.0
50%,4.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.371000,29.000000,1.0
75%,7.000000,140.750000,80.000000,36.000000,190.000000,36.600000,0.625000,41.000000,1.0
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.0

In [17]:
df.info()#Summary of the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      656 non-null    float64
 1   c2      762 non-null    float64
 2   c3      732 non-null    float64
 3   c4      540 non-null    float64
 4   c5      394 non-null    float64
 5   c6      756 non-null    float64
 6   c7      767 non-null    float64
 7   c8      767 non-null    int64
 8   c9      267 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

# Filling Method1:

In [13]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [14]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [15]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [16]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [17]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [18]:
#fill with zeros
df.fillna(0,inplace=True)
#df_filled_zeros = df2018.fillna(0)

In [19]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [20]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

# Filling Method2:

In [38]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [39]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [40]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [41]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [42]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [43]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [44]:
#filling with before values in terms of columns
df = df.fillna(method='ffill', axis=1)# check with axis = 0 in terms of row

In [45]:
df

       c1     c2    c3    c4     c5    c6     c7    c8    c9
0     1.0   85.0  66.0  29.0   29.0  26.6  0.351  31.0  31.0
1     8.0  183.0  64.0  64.0   64.0  23.3  0.672  32.0   1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  21.0
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33.0   1.0
4     5.0  116.0  74.0  74.0   74.0  25.6  0.201  30.0  30.0
..    ...    ...   ...   ...    ...   ...    ...   ...   ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0  63.0
763   2.0  122.0  70.0  27.0   27.0  36.8  0.340  27.0  27.0
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0  30.0
765   1.0  126.0  60.0  60.0   60.0  30.1  0.349  47.0   1.0
766   1.0   93.0  70.0  31.0   31.0  30.4  0.315  23.0  23.0

[767 rows x 9 columns]

In [46]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 1

In [47]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values

# Filling Method3:

In [48]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [49]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [50]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [51]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [52]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [53]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [54]:
#filling with before values in terms of columns
df = df.fillna(method='bfill', axis=1)# check with axis = 0 in terms of row

In [55]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 1

In [56]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c9 : 65.19 % missing values

# Filling Method4

In [58]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [59]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [60]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [61]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [62]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [63]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [64]:
df.isna().sum()

c1    111
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [65]:
#Imputing missing values of ‘c1’:
df['c1'].mean()

4.492378048780488

In [66]:
df['c1'].fillna(df['c1'].mean(),inplace= True)

In [67]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [55]:
#Imputing missing values of ‘c2’:
df['c2'].mean()

121.6522309711286

In [56]:
df['c2'].fillna(df['c2'].mean(),inplace= True)

In [57]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [58]:
#Imputing missing values of ‘c3’:
df['c3'].mean()

72.40573770491804

In [59]:
df['c3'].fillna(df['c3'].mean(),inplace= True)

In [60]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [61]:
#Imputing missing values of ‘c4’:
df['c4'].mean()

29.142592592592592

In [62]:
df['c4'].fillna(df['c4'].mean(),inplace= True)

In [63]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [64]:
#Imputing missing values of ‘c5’:
df['c5'].mean()

155.5482233502538

In [65]:
df['c5'].fillna(df['c5'].mean(),inplace= True)

In [66]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [67]:
#Imputing missing values of ‘c6’:
df['c6'].mean()

32.45595238095236

In [68]:
df['c6'].fillna(df['c6'].mean(),inplace= True)

In [69]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [70]:
#Imputing missing values of ‘c7’:
df['c7'].mean()

0.4716740547587999

In [71]:
df['c7'].fillna(df['c7'].mean(),inplace= True)

In [72]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [73]:
#Imputing missing values of ‘c8’:
df['c8'].mean()

33.21903520208605

In [74]:
df['c8'].fillna(df['c8'].mean(),inplace= True)

In [75]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [76]:
#Imputing missing values of ‘c9’:
df['c9'].mean()

1.0

In [77]:
df['c9'].fillna(df['c9'].mean(),inplace= True)

In [78]:
#check all missing values of Age column are filled
df.isna().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
c6    0
c7    0
c8    0
c9    0
dtype: int64

In [79]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [80]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

# Filling Method5

In [68]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [69]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [70]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [71]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [72]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [73]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [74]:
df.isna().sum()

c1    111
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [75]:
#Imputing missing values of ‘c1’:
df['c1'].median()

4.0

In [76]:
df['c1'].fillna(df['c1'].median(),inplace= True)

In [77]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [78]:
#Imputing missing values of ‘c2’:
df['c2'].median()

117.0

In [79]:
df['c2'].fillna(df['c2'].median(),inplace= True)

In [80]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [81]:
#Imputing missing values of ‘c3’:
df['c3'].median()

72.0

In [82]:
df['c3'].fillna(df['c3'].median(),inplace= True)

In [83]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [84]:
#Imputing missing values of ‘c4’:
df['c4'].median()

29.0

In [85]:
df['c4'].fillna(df['c4'].median(),inplace= True)

In [86]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [87]:
#Imputing missing values of ‘c5’:
df['c5'].median()

125.0

In [88]:
df['c5'].fillna(df['c5'].median(),inplace= True)

In [89]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [90]:
#Imputing missing values of ‘c6’:
df['c6'].median()

32.3

In [91]:
df['c6'].fillna(df['c6'].median(),inplace= True)

In [92]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [93]:
#Imputing missing values of ‘c7’:
df['c7'].median()

0.371

In [94]:
df['c7'].fillna(df['c7'].median(),inplace= True)

In [95]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [96]:
#Imputing missing values of ‘c8’:
df['c8'].median()

29.0

In [97]:
df['c8'].fillna(df['c8'].median(),inplace= True)

In [98]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [99]:
#Imputing missing values of ‘c9’:
df['c9'].median()

1.0

In [100]:
df['c9'].fillna(df['c9'].median(),inplace= True)

In [101]:
#check all missing values of Age column are filled
df.isna().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
c6    0
c7    0
c8    0
c9    0
dtype: int64

In [102]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [103]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

# Filling Method6

In [68]:
import numpy as np
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [69]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [70]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [71]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [72]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [73]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [74]:
df.isna().sum()

c1    111
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [75]:
#Imputing missing values of ‘c1’:
df['c1'].mode() # Mode is not working for numerical features it suits for categorical type

0    1.0
dtype: float64

In [76]:
df['c1'].fillna(df['c1'].mode()[0],inplace= True)

In [77]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [78]:
#Imputing missing values of ‘c2’:
df['c2'].mode()

0     99.0
1    100.0
dtype: float64

In [79]:
df['c2'].fillna(df['c2'].mode()[0],inplace= True)

In [80]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [81]:
#Imputing missing values of ‘c3’:
df['c3'].mode()

0    70.0
dtype: float64

In [82]:
df['c3'].fillna(df['c3'].mode()[0],inplace= True)

In [83]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [84]:
#Imputing missing values of ‘c4’:
df['c4'].mode()

0    32.0
dtype: float64

In [85]:
df['c4'].fillna(df['c4'].mode()[0],inplace= True)

In [86]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [87]:
#Imputing missing values of ‘c5’:
df['c5'].mode()

0    105.0
dtype: float64

In [88]:
df['c5'].fillna(df['c5'].mode()[0],inplace= True)

In [89]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [90]:
#Imputing missing values of ‘c6’:
df['c6'].mode()

0    32.0
dtype: float64

In [91]:
df['c6'].fillna(df['c6'].mode()[0],inplace= True)

In [92]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [93]:
#Imputing missing values of ‘c7’:
df['c7'].mode()

0    0.254
1    0.258
dtype: float64

In [94]:
df['c7'].fillna(df['c7'][0].mode()[0],inplace= True)

AttributeError: 'numpy.float64' object has no attribute 'mode'

In [95]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [96]:
#Imputing missing values of ‘c8’:
df['c8'].mode()

0    22
dtype: int64

In [97]:
df['c8'].fillna(df['c8'].mode()[0],inplace= True)

In [98]:
#check all missing values of Age column are filled
df.isna().sum()

c1      0
c2      0
c3      0
c4      0
c5      0
c6      0
c7      0
c8      0
c9    500
dtype: int64

In [99]:
#Imputing missing values of ‘c9’:
df['c9'].mode()

0    1.0
dtype: float64

In [100]:
df['c9'].fillna(df['c9'].mode()[0],inplace= True)

In [101]:
#check all missing values of Age column are filled
df.isna().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
c6    0
c7    0
c8    0
c9    0
dtype: int64

In [102]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [103]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

# Filling Method7

In [1]:
from sklearn.impute import KNNImputer

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('deepak sir dataset.csv')

In [7]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [8]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

NameError: name 'np' is not defined

In [9]:
df

     c1   c2  c3  c4   c5    c6     c7  c8  c9
0     1   85  66  29    0  26.6  0.351  31   0
1     8  183  64   0    0  23.3  0.672  32   1
2     1   89  66  23   94  28.1  0.167  21   0
3     0  137  40  35  168  43.1  2.288  33   1
4     5  116  74   0    0  25.6  0.201  30   0
..   ..  ...  ..  ..  ...   ...    ...  ..  ..
762  10  101  76  48  180  32.9  0.171  63   0
763   2  122  70  27    0  36.8  0.340  27   0
764   5  121  72  23  112  26.2  0.245  30   0
765   1  126  60   0    0  30.1  0.349  47   1
766   1   93  70  31    0  30.4  0.315  23   0

[767 rows x 9 columns]

In [10]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [11]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

In [12]:
df.isna().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
c6    0
c7    0
c8    0
c9    0
dtype: int64

In [14]:
impute = KNNImputer()

In [15]:
df = pd.DataFrame(impute.fit_transform(df), columns = df.columns)

In [16]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [17]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

# Filling Method8

In [18]:
from sklearn.impute import SimpleImputer

In [19]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [20]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [21]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

NameError: name 'np' is not defined

In [22]:
df

     c1   c2  c3  c4   c5    c6     c7  c8  c9
0     1   85  66  29    0  26.6  0.351  31   0
1     8  183  64   0    0  23.3  0.672  32   1
2     1   89  66  23   94  28.1  0.167  21   0
3     0  137  40  35  168  43.1  2.288  33   1
4     5  116  74   0    0  25.6  0.201  30   0
..   ..  ...  ..  ..  ...   ...    ...  ..  ..
762  10  101  76  48  180  32.9  0.171  63   0
763   2  122  70  27    0  36.8  0.340  27   0
764   5  121  72  23  112  26.2  0.245  30   0
765   1  126  60   0    0  30.1  0.349  47   1
766   1   93  70  31    0  30.4  0.315  23   0

[767 rows x 9 columns]

In [23]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [24]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

In [25]:
df.isna().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
c6    0
c7    0
c8    0
c9    0
dtype: int64

In [26]:
impute = SimpleImputer()

In [27]:
df = pd.DataFrame(impute.fit_transform(df), columns = df.columns)

In [28]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [155]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

# Filling Method9

In [167]:
from sklearn.impute import MissingIndicator

In [168]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [169]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [170]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [171]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [172]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [173]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [174]:
df.isna().sum()

c1    111
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [181]:
impute = MissingIndicator()

In [49]:
df.columns

Index(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9'], dtype='object')

In [50]:
df = pd.DataFrame(impute.fit_transform(df))

In [51]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [52]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

# Filling Method10

In [185]:
from sklearn.impute import IterativeImputer

In [186]:
df = pd.read_csv('C:/Users/pvrao/deepak sir dataset.csv')

In [187]:
#Adding column names for the data frame.
df.columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']

In [188]:
# missing values are represent in 0. so need to replace with nan
columns = ['c1','c2','c3','c4','c5','c6','c7','c8','c9']
df[columns] = df[columns].replace(['0', 0], np.nan)

In [189]:
df

       c1     c2    c3    c4     c5    c6     c7  c8   c9
0     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
1     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
3     NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
4     5.0  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
..    ...    ...   ...   ...    ...   ...    ...  ..  ...
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  NaN
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  NaN
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  NaN
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1.0
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  NaN

[767 rows x 9 columns]

In [190]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 7

In [191]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values
c1 : 14.47 % missing values
c2 : 0.65 % missing values
c3 : 4.56 % missing values
c4 : 29.6 % missing values
c5 : 48.63 % missing values
c6 : 1.43 % missing values
c9 : 65.19 % missing values

In [192]:
df.isna().sum()

c1    111
c2      5
c3     35
c4    227
c5    373
c6     11
c7      0
c8      0
c9    500
dtype: int64

In [193]:
impute = IterativeImputer()

In [194]:
df = pd.DataFrame(impute.fit_transform(df), columns = df.columns)

In [195]:
features_with_na = [features for features in df.columns if df[features].isnull().sum() > 1]
print("Total number of features with missing values:",len(features_with_na))

Total number of features with missing values: 0

In [196]:
print("feature name with % of missing values")

for feature in features_with_na:
    print(feature, ':', np.round(df[feature].isnull().mean()*100, 2), '% missing values')

feature name with % of missing values

26-04-2021 ML Lab Attendance: absentees:
15, 28, 32, 33, 39, 46, 17-529.