In [1]:
import sys
print("python version")
print(sys.version)
print("version info")
print(sys.version_info)

python version
3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]
version info
sys.version_info(major=3, minor=11, micro=13, releaselevel='final', serial=0)

In [2]:
age =38
name ='pvrao'

In [3]:
print(age)
print(name)

38
pvrao

In [4]:
print("age=",age)
print("name=",name)

age= 38
name= pvrao

In [5]:
age = int(input("enter your age"))
print(age
      )

enter your age18
18

In [6]:
name = input('enter name')
print(name
      )

enter namelikhitha
likhitha

In [7]:
'%10.2f' % (3.141592653589793,)

'      3.14'

In [14]:
import math
print('%010.2f' % (math.pi,))
print('%-10.4f' % (math.e))
print('{:010.2f}'.format(math.pi,))
print('{:10.4f}'.format(math.e))

0000003.14
2.7183
0000003.14
    2.7183

In [15]:
strOld = "%s %d" % ('Python', 3)
print(strOld)
strNew = "{} {}".format('Python', 3)
print(strNew)
strPos = "{1} {0}".format(3, 'Python')
print(strPos)
strOld = "%(lang)s %(ver)d" % {'ver':3, 'lang':'Python'}
print(strPos)
kwargs = {'ver':3, 'lang':'Python'}
strNew1 = "{lang} {ver}".format(**kwargs)
print(strNew1)
strKey2 = "{lang} {ver}".format(** {'ver':3, 'lang':'Python'})
print(strKey2)
strKey3 = "{lang} {ver}".format(ver=3, lang='Python')
print(strKey3)

Python 3
Python 3
Python 3
Python 3
Python 3
Python 3
Python 3

In [16]:
text = "Hello World"
print(format(text, '<20'))
print(format(text, '>20'))
print(format(text, '^20'))
print(format(text, '=>20s'))
print(format(text, '*^20s'))
import math
print(format(math.pi, '>10.4'))
print(format(math.pi, '>010.4'))
print(format(-math.pi, '>-10.4'))
print(format(-math.pi, '->10.4'))
print(format(-math.pi, '-^10.4'))
print(format(-math.pi, '0^10.4'))

Hello World
         Hello World
    Hello World
=========Hello World
****Hello World*****
     3.142
000003.142
    -3.142
-----3.142
---3.142--
00-3.14200

In [17]:
ex_string = 'Hello World!'
ex_int = 8
ex_float = 12.5
ex_bool = False
print(ex_string)
print(ex_int)
print(ex_float)
print(ex_bool)

Hello World!
8
12.5
False

In [18]:
print(type(ex_string))
print(type(ex_int))
print(type(ex_float))
print(type(ex_bool))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [19]:
type(ex_string)

str

In [20]:
type(ex_int)

int

In [21]:
type(ex_float)

float

In [22]:
type(ex_bool)

bool

In [23]:
a = 0b1111  #0o for octal #0x for hexa
b = 0b1010
print(a+b)
print(bin(a+b))

25
0b11001

In [24]:
ex_string

'Hello World!'

In [25]:
print(ex_string)

Hello World!

In [26]:

# Addition:
print(1 + 2)
# Subtraction:
print(1 - 2)
# Multiplication:
print(1 * 2)
# Division:
print(4 / 5) #Float division
print(4//5) #Integer Division

3
-1
2
0.8
0

In [27]:

print(4 // 2)
print(-3.0 // 2)

2
-2.0

In [28]:

2 ** 2 **5

4294967296

In [29]:

#comparision operators

p = 2**3**4
print(p)
q = 2**(4**3)
print(q)
print(p==q)
print(18 & 3)
print(bin(18))
print(bin(3))


print(bin(24))
print(oct(24))
print(hex(24))
a=5
b=6
d=5|6
print(d)

print(5^6)


###shift opertators

print(4 <<4)
print(64 >> 3)

2417851639229258349412352
18446744073709551616
False
2
0b10010
0b11
0b11000
0o30
0x18
7
3
64
8

In [30]:
import sys
print(" Size of int: ", sys.getsizeof(10), "\n",
"Size of float: ", sys.getsizeof(10.3), "\n",
"Size of complex: ", sys.getsizeof(2+3j), "\n",
"Size of empty List: ", sys.getsizeof([]), "\n",
"Size of List with 1 item: ", sys.getsizeof([1]), "\n",
"Size of List with 2 items: ", sys.getsizeof([1,2]), "\n",
"Size of empty Tuple: ", sys.getsizeof(()), "\n",
"Size of Tuple with 1 item: ", sys.getsizeof((1)), "\n",
"Size of Tuple with 2 items: ", sys.getsizeof((1,2)), "\n",
"Size of Tuple with 3 items: ", sys.getsizeof((1,2,3)), "\n",
"Size of empty Set: ", sys.getsizeof({}), "\n",
"Size of Set with 1 item: ", sys.getsizeof({1}), "\n",
"Size of Set with 2 items: ", sys.getsizeof({1,2}), "\n",
"Size of Dict with 1 item: ", sys.getsizeof({"n":1}), "\n",
"Size of Dict with 2 items: ", sys.getsizeof({"n":1, "m":2}))

 Size of int:  28
 Size of float:  24
 Size of complex:  32
 Size of empty List:  56
 Size of List with 1 item:  64
 Size of List with 2 items:  72
 Size of empty Tuple:  40
 Size of Tuple with 1 item:  28
 Size of Tuple with 2 items:  56
 Size of Tuple with 3 items:  64
 Size of empty Set:  64
 Size of Set with 1 item:  216
 Size of Set with 2 items:  216
 Size of Dict with 1 item:  184
 Size of Dict with 2 items:  184

In [31]:
if 1 == 1:
    print('The integer 1 is equal to the integer 1.')
    print('Is the next indented line run, too?')

The integer 1 is equal to the integer 1.
Is the next indented line run, too?

In [32]:
if 'one' == 'two':
    print("The string 'one' is equal to the string 'two'.")

print('---')
print('These two lines are not indented, so they are always run next.')

---
These two lines are not indented, so they are always run next.

In [33]:
if 50 < 30:
    print("50 < 30.")
else:
    print("50 >= 30.")
    print("The else code block wdas run instead of the first block.")

print('---')
print('These two lines are not indented, so they are always run next.')

50 >= 30.
The else code block wdas run instead of the first block.
---
These two lines are not indented, so they are always run next.

In [34]:
health = 55

if health > 70:
    print('You are in great health!')
elif health > 40:
    print('Your health is average.')
    print('Exercise and eat healthily!')
else:
    print('Your health is low.')
    print('Please see a doctor now.')

print('---')
print('These two lines are not indented, so they are always run next.')

Your health is average.
Exercise and eat healthily!
---
These two lines are not indented, so they are always run next.

In [35]:
bachelor = input("You watch the bachelor?")
if bachelor == 'yes' or bachelor == 'Yes':
    print('bachelor watcher')
else:
    print('possible bachelor watcher')

You watch the bachelor?yes
bachelor watcher

In [36]:
x = 0
while x < 10:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8
9

In [37]:
list1 = [11,23,35,46,51,62,78, 89, 90,456, 345, 789, 234]
print("3rd Item in List is: ", list1[2]) # Indexing
print("2nd Last in List is: ", list1[-2]) # Indexing from Last
print("List from 2nd Item is: ", list1[2:])
print("List from 2nd to 4th Item is: ", list1[2:5])
print("List odd Items is: ", list1[::2])
print("List even Items is: ", list1[1::2])
print("List reversed Items is: ", list1[-1::-1])

3rd Item in List is:  35
2nd Last in List is:  789
List from 2nd Item is:  [35, 46, 51, 62, 78, 89, 90, 456, 345, 789, 234]
List from 2nd to 4th Item is:  [35, 46, 51]
List odd Items is:  [11, 35, 51, 78, 90, 345, 234]
List even Items is:  [23, 46, 62, 89, 456, 789]
List reversed Items is:  [234, 789, 345, 456, 90, 89, 78, 62, 51, 46, 35, 23, 11]

In [39]:
# Create a new empty list:
l = []

# Add an element using append():
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

In [40]:
# Reassign a range of values with another list:
l[1:3] = ["b", "c"]
print(l)

['A', 'b', 'c']

In [41]:
#Use the .insert() method to add values at specific indices.
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'b', 'c']

In [42]:

l.remove("A")
print(l)

['i', 'n', 's', 'e', 'r', 't', 'b', 'c']

In [43]:
Ages = [ '20', '26', '56', '54', '32', '28','23','99', '87', '10', '65', '88', '66',
                  '48', '42', '27','33','38','83','94','66','44']
print(sorted(Ages, reverse=False))
print(Ages.sort())
print(sorted(Ages, reverse=True))

D = ['MONDAY', 'TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY']
print(D[-5], D[-4])
print(D[3], D[4])
print(D[2:5])

#print(reverse(D))
print(D.reverse())
print(list(reversed(D)))

Mylist =['a','a','b','b','b','c','c','d','e']
print(Mylist.index('d'))
Mylist.pop(0)
print(Mylist)

N = [24, 27, 29, 26, 25, 23, 20]
len(N)

['10', '20', '23', '26', '27', '28', '32', '33', '38', '42', '44', '48', '54', '56', '65', '66', '66', '83', '87', '88', '94', '99']
None
['99', '94', '88', '87', '83', '66', '66', '65', '56', '54', '48', '44', '42', '38', '33', '32', '28', '27', '26', '23', '20', '10']
WEDNESDAY THURSDAY
THURSDAY FRIDAY
['WEDNESDAY', 'THURSDAY', 'FRIDAY']
None
['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']
7
['a', 'b', 'b', 'b', 'c', 'c', 'd', 'e']

7

In [45]:


l1 = [1,2,3,4,5]

for i in range(0,len(l1)):
    l1[i] = l1[i]+10
print(l1)

l2 = [x+10 for x in l1]
print(l2)

l3 = [x**3 for x in l1]
print(l3)

fahrenheit = [((float(9)/5)*x+32) for x in l1]
print(fahrenheit)

e = [x for x in l1 if x%2==0]
print(e)

[11, 12, 13, 14, 15]
[21, 22, 23, 24, 25]
[1331, 1728, 2197, 2744, 3375]
[51.8, 53.6, 55.400000000000006, 57.2, 59.0]
[12, 14]

In [46]:
tuple1 = (1,2,3,4,5,6)
print("3rd Item in tuple is: ", tuple1[2]) # Indexed Item
print("Tuple from 2nd Item is: ", tuple1[2:])
print("Tuple from 2nd to 4th Item is: ", tuple1[2:5])
print("Tuple odd Items is: ", tuple1[::2])
print("Tuple even Items is: ", tuple1[1::2])
print("Tuple reversed Items is: ", tuple1[-1::-1])

3rd Item in tuple is:  3
Tuple from 2nd Item is:  (3, 4, 5, 6)
Tuple from 2nd to 4th Item is:  (3, 4, 5)
Tuple odd Items is:  (1, 3, 5)
Tuple even Items is:  (2, 4, 6)
Tuple reversed Items is:  (6, 5, 4, 3, 2, 1)

In [47]:
def add(x,y):
    return x+y
print("Sum is ",add(3,5))

Sum is  8

In [48]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

print("Factorial of the number is:",fact(6))

Factorial of the number is: 720

In [49]:

word=['f','a','t','h','i','m','a']
def count_vow(word):
    for i in word:
        if(i=='a'or i=='e'or i=='i'or i=='o'or i=='u'):
            word.remove(i)
    return word
count_vow(word)

['f', 't', 'h', 'm']

In [50]:
def vowel_counter(word):
    '''
    This function takes in a word and
    counts how many vowels
    '''
    count = 0
    for letter in word:
        if letter in 'aeiouAEIOU':
#         if letter in ['a', 'e', 'i', 'o', 'u']:
            count += 1
    return count

In [51]:
params = {"key1" : 1.0,
          "key2" : 2.0,
          "key3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'key1': 1.0, 'key2': 2.0, 'key3': 3.0}

In [52]:
v1 = {'A', 'B', 'A', 'A', 'B'}
lyrics = '''And still
Bad things
It's a lot of bad things
That they wishin' and wishin' and wishin' and wishin'
They wishin' on me
Bad things
It's a lot of bad things
That they wishin' and wishin' and wishin' and wishin'
They wishin' on me
Yuh, ayy, ayy
'''
len(lyrics)
words = lyrics.split()
words

['And',
 'still',
 'Bad',
 'things',
 "It's",
 'a',
 'lot',
 'of',
 'bad',
 'things',
 'That',
 'they',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'They',
 "wishin'",
 'on',
 'me',
 'Bad',
 'things',
 "It's",
 'a',
 'lot',
 'of',
 'bad',
 'things',
 'That',
 'they',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'They',
 "wishin'",
 'on',
 'me',
 'Yuh,',
 'ayy,',
 'ayy']

In [53]:
set(words)

{'And',
 'Bad',
 "It's",
 'That',
 'They',
 'Yuh,',
 'a',
 'and',
 'ayy',
 'ayy,',
 'bad',
 'lot',
 'me',
 'of',
 'on',
 'still',
 'they',
 'things',
 "wishin'"}

In [54]:
len(set(words))

19

In [55]:
x1 = {9,5,6,3,7,8,1}
x2 = {7,1,3,2,0,4,8}
x1.symmetric_difference(x2)
print(x1.intersection(x2))

{8, 1, 3, 7}

In [56]:
keys = [1,2,3,4]
values = ['one', 'two','three','four']
zipdict = dict(zip(keys, values))
zipdict
zipdict.values()
dict={19:"shyamala",20:"dhgya",21:"xvbn"}
dict.get(19)

'shyamala'

In [57]:
dict[19]

'shyamala'